@{
    ViewBag.Title = "Home Page";
}

<div class="headingtop">
    <section class="content-header">
        <h1 class="cssheaderleft">
          Trang chủ
        </h1>

        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i>Hệ thống</a></li>
            <li class="active">Trang chủ</li>
        </ol>

    </section>
</div>
<section class="content">
   
</section>